---
layout: default
---
<div class="post">
  <header class="post-header">
    <div class="d-flex align-items-center">
      <!-- Profile Image -->
      <div class="profile float-left">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          <img src="{{ profile_image_path }}" alt="Profile image" class="img-fluid profile-img" style="height: 280px; object-fit: cover;">
        {% endif %}
      </div>
      <!-- Name and Title -->
      <div class="col-sm-9">
        <h1 class="post-title">
          {{ site.first_name }} {{ site.last_name }}
        </h1>
        <div class="social-small">
          <div class="contact-icons">
            <a href="mailto:lzt-cnbg@sjtu.edu.cn" title="email"><i class="fa-solid fa-envelope"></i></a>
            <span class="divider" style="margin: 0 5px;"></span>
            <a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>
            <span class="divider" style="margin: 0 5px;"></span>
            <a href="https://github.com/{{ site.github_username }}" title="GitHub"><i class="fab fa-github"></i></a>
            <!-- Add more social icons as needed -->
          </div>
        </div>
        <div class="clearfix">{{ content }}</div>
      </div>
    </div>
  </header>

  <article>

    <div style="margin-bottom: 50px;"></div>
    <!-- News -->
    {% if page.announcements and page.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">News</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}
    <div style="margin-bottom: 50px;"></div>

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">Publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}
    <div style="margin-bottom: 50px;"></div>

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
      {% include newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
